body{
    background: url(circles.png);
}

#container{
    text-align: center;
}

#level span, #level strong{
    font-size: 2em;
}

#settings{

}

#next_total p{
    font-size: 2em;
}

#square{
    margin-left: auto;
    margin-right: auto;
}

#square .boxnum{
    width: 100px;
    height: 100px;
    background: none;
    background-color: #FFF;
    margin: 4px;
    float: left;
    border: #CCC solid 1px;
    border-radius: 10px;
}

#square .boxnum:hover{
    background-color: #CFCFCF;
    cursor: pointer;
}

#square .boxnum .num {
    color: #0088CC;
    font-size: 3em;
    font-weight: bold;
    line-height: 0;
}

#square .selected, #square .selected:hover{
    background-color: #00CC99;
}

#square .disabled, #square .disabled:hover{
    cursor: not-allowed;
    background-color: #c4cece;
}

#square .disabled .num{
    color: #c2e6e4;
}

#boxnum-template{
    display: none;
}


